* {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--main-font);
}

:root {
    --main-font: 'Cinzel', serif;
    --box-color: rgb(37, 150, 190);
    --light-color: rgb(190, 223, 228);
}

body {
    display: flex;
    flex-direction: column;
    background-image:url("../images/annie-spratt-pKpipZVVEC0-unsplash.jpg");
    background-color: var(--light-color);
}

main {
    display: flex;
    justify-content: space-between;
}

/* classes */

.header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--box-color);
    background-image:url("../images/gradientBanner.png");
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.header h1 {
    color: white;
}

.name-and-pic {
    display: flex;
    align-items: flex-end;
    font-size: 3rem;
    width: 525px;
}

.profile-pic {
    width: 100px;
    border-radius: 50%;
    margin: 10px;
}

.navbar {
    display: flex;
    margin-top: 10px;
}

.nav1 {
    flex-direction: row;
    color: white;
    font-size: 2.7rem;
    padding: 5px;
    margin: 5px;
    border-left: 2px solid white;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 35%;
}

.content-section  {
    position: relative;
    padding: 10px;
    background-color: var(--box-color);
    margin: 10px; 
    border-radius: 5px;
}

.content-section h3 {
    font-family: var(--main-font);
    font-size: 2rem;
}

.content-section a {
    font-family: var(--main-font);
    font-size: 2rem;
}

.side-bar {
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: space-around;
    width: 65%;
}

.side-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    margin: 10px;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 5px;
}

.side-box h2 {
    font-family: var(--main-font);
    text-align: center;
    font-size: 3rem;
    text-decoration: underline;
    margin: 10px;

}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-color);
    font-size: 1.5rem;
    font-family: var(--main-font);
    width: 100%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.project img {
    width: 50%;
    border-radius: 5px;
    align-self: center;
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}

.project h2 {
    text-decoration: none;
}

.project h3 {
    font-family: var(--main-font);
    margin: 10px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    
}

.footbox1 {
    font-size: 2rem;
    background-color: var(--light-color);
    margin: 10px;
    border-radius: 5px;
    width: 25%;
    min-width: 200px;
    text-align: center;
}
.footbox2 {
    font-size: 1.25rem;
}

/* Ids */

#intro {
    color: rgb(34, 22, 68);
}

#skills {
    color: rgb(34, 22, 68);
}

#contact-info {
    color: rgb(34, 22, 68);
}

#contact-info img {
    background-color: white;
    border-radius: 5px;
}

#project1 img {
    width: 100%;
}

#liLogo {
    height: 2rem;
    margin-top: 1rem;
}

#gitLogo {
    height: 2rem;
    margin-top:  1rem;
}


/* responsive adjustments for narrow screens */

@media screen and (max-width: 685px) {

    /* header adjustments */

    .header {
        flex-direction: column;
    }

    .header h1  {
        margin: 15px;
    }

    .name-and-pic {
        flex-direction: column;
        align-items: flex-start;
        justify-items: flex-start;
        width: 100%;
    }

    .nav1 {
        font-size: 1.5rem;
        margin: 5px;
    }

    /* main content adjustments */

    main {
        flex-direction: column;
    }

    .content {
        width: 100%;
    }

    .side-bar {
        width: 100%;
    }


}