* {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(59, 59, 252);
    padding: 10px;
    margin: 10px;
}

.name-and-pic {
    display: flex;
    align-items: flex-end;
    font-size: 3rem;
    width: 490px;

}

.profile-pic {
    width: 100px;
    border-radius: 50%;
}

.navbar {
    display: flex;
    /* justify-content: space-between; */
}

.nav1 {
    flex-direction: row;
    color: white;
    font-size: 2.7rem;
    margin: 10px;
}

.content {
    display: flex;
    flex-direction: column;
    position: relative;
}

.intro  {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 2rem;
    width: 60%;
    background-color: aqua;
    margin: 10px; 
}
.skills  {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 2rem;
    width: 60%;
    background-color: aqua;
    margin: 10px; 
}
.other-stuff  {
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    font-size: 2rem;
    width: 60%;
    background-color: aqua;
    margin: 10px; 
}